@font-face {
    font-family: "WebSymbols-Regular";
    src: url("WebSymbols-Regular.eot?") format("eot"), url("WebSymbols-Regular.woff") format("woff"), url("WebSymbols-Regular.ttf") format("truetype"), url("WebSymbols-Regular.svg#WebSymbols-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.gear{
    font-family: WebSymbols-Regular;
}